:root {
    --body-bg: #effafa;
    --green: #5ca5a5;
    --dark-green: #2b3939;
    --light-green: #7c8f8f;
    --green-rgba: rgba(92, 165, 165, 0.1);
}


/* FONTS */
@font-face {
    font-family: 'Spartan';
    src: url('/fonts/Spartan-Light.woff2') format('woff2'),
        url('/fonts/Spartan-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spartan';
    src: url('/fonts/Spartan-ExtraLight.woff2') format('woff2'),
        url('/fonts/Spartan-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spartan';
    src: url('/fonts/Spartan-SemiBold.woff2') format('woff2'),
        url('/fonts/Spartan-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spartan';
    src: url('/fonts/Spartan-ExtraBold.woff2') format('woff2'),
        url('/fonts/Spartan-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spartan';
    src: url('/fonts/Spartan-Regular.woff2') format('woff2'),
        url('/fonts/Spartan-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spartan';
    src: url('/fonts/Spartan-Medium.woff2') format('woff2'),
        url('/fonts/Spartan-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spartan';
    src: url('/fonts/Spartan-Bold.woff2') format('woff2'),
        url('/fonts/Spartan-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spartan';
    src: url('/fonts/Spartan-Black.woff2') format('woff2'),
        url('/fonts/Spartan-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spartan';
    src: url('/fonts/Spartan-Thin.woff2') format('woff2'),
        url('/fonts/Spartan-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


/* GLOBAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 15px;
    line-height: 1.5;
    font-weight: bold;
    font-family: 'Spartan', 'Arial', sans-serif;
    background-color: var(--body-bg);
    color: var(--dark-green);
}

img {
    max-width: 100%;
    height: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/* CONTAINER */
.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}


/* MAIN CONTENT */
.main-content {
    flex-grow: 1;
}

.site-header {
    width: 100%;
    min-height: 156px;
    background-color: var(--green);
    background-image: url(/img/header-bg.svg);
    background-size: auto 100%;
    background-position: center;
}

.job-listings {
    margin-top: 76px;
    margin-bottom: 120px;
    padding: 0;
    list-style: none;
}

.job-listings-item {
    display: flex;
    align-items: center;
    padding: 32px 40px;
    border-left: 5px solid transparent;
    border-radius: 5px;
    box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
    background-color: #fff;
}

.job-listings-item:not(:last-child) {
    margin-bottom: 24px;
}

.job-listings-item-features {
    border-color: var(--green);
}

.job-listings-img {
    flex-shrink: 0;
    margin-right: 24px;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    object-fit: cover;
}

.job-listings-info {
    display: flex;
    margin-right: 24px;
    flex-direction: column;
    flex-grow: 1;
}

.job-listings-company-badges {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.job-listings-conpany-name {
    margin-right: 16px;
    font-size: 14px;
    line-height: 16px;
    color: var(--green);
}

.job-listing-badges {
    display: flex;
    align-items: center;
}

.job-listing-badges-item:not(:last-child){
    margin-right: 8px;
}

.badges {
    padding: 6px 8px 4px;
    font-size: 11px;
    line-height: 14px;
    border-radius: 12px;
    text-transform: uppercase;
    text-align: center;
}

.badges-green {
    background-color: var(--green);
    color: #fff;
}

.badges-black {
    background-color: var(--dark-green);
    color: #fff;
}

.job-listing-position {
    margin-top: 0;
    margin-bottom: 8px;
}

.job-listings-link {
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--dark-green);
    transition: color 0.2s ease;
}

.job-listings-link:hover {
    color: var(--green);
}

.job-listings-addl {
    display: flex;
    align-items: center;
}

.job-listings-addl-item {
    position: relative;
    font-weight: 500;
    letter-spacing: -0.1px;
    color: var(--light-green);
}

.job-listings-addl-item:not(:last-child) {
    margin-right: 36px;
}

.job-listings-addl-item:not(:last-child)::after {
    position: absolute;
    width: 4px;
    height: 4px;
    left: 100%;
    top: 8px;
    transform: translateX(18px);
    border-radius: 50%;
    background-color: var(--light-green);
    content: '';
}

.job-listings-tags {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.job-listing-tags-item:not(:last-child) {
    margin-right: 16px;
}

.tag {
    padding: 4px 8px;
    font-size: 13px;
    line-height: 24px;
    color: var(--green);
    background-color: var(--green-rgba);
    border-radius: 4px;
}